:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark: #000814;
  --light: #f8f9fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 1.5s;
}

html.dark button,
body {
  background-color: var(--light);
  color: var(--dark);
}

html.dark body,
.app button {
  background-color: var(--dark);
  color: var(--light);
}

a {
  text-decoration: none;
  color: var(--dark);
}

html.dark a {
  color: var(--light);
}

html a:hover {
  color: #4ade80;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100svh;
}

.app button {
  cursor: pointer;
  display: block;
  width: 100%;
  border-width: 0;
  border-radius: 999px;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 900;
}

.app button:hover {
  transform: scale(1.1);
  transition: all .1s ease-in;
}